@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@300&family=Train+One&display=swap');
.font-1 {
  font-family: 'Quicksand', sans-serif;
}
.font-2{
  font-family: 'Monoton', cursive;
}
/* .font-3{
  font-family: 'Train One', cursive
} */